<div class="d-flex justify-content-center restaurant-category">
  <form action="/restaurants" method="POST">
    <h5 class="text-center mb-4">新增餐廳</h5>
    <p class="title">name: <input type="text" name="name"></p>
    <p class="title">name_en: <input type="text" name="name_en"></p>
    <p class="title">category: <input type="text" name="category" required="required"></p>
    <p class="title">image: <input type="text" name="image" required="required"></p>
    <p class="title">location: <input type="text" name="location" required="required">
    </p>
    <p class="title">phone: <input type="text" name="phone" required="required"></p>
    <p class="title">google_map: <input type="text" name="google_map" width="100px" required="required"></p>
    <p class="title">rating: <input type="number" name="rating" required="required" step="0.1" min="0" max="5"></p>
    <p class="title">description: <input type="text" name="description" required="required"></p>
    <div class="d-flex justify-content-center"><button type="submit" class="create">Create</button></div>
    <div class="d-flex"><a href="/" class="mx-auto my-4 back">back</a></div>
  </form>
</div>