<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h2 class="text-center mb-3">Registration completed successfully!</h2>
      <p class="text-center lead mt-3">Please login to track your expense. <a href="/users/login">Login</a></p>
    </div>
  </div>
</div>