header {
  overflow: hidden;
}

.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

.create-new, .fa-plus {
  font-size: 14px;
  border-radius: 10px;
  color: #fce2cf;
  background-color: #9b4b4b;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.create-new:hover, .fa-plus:hover {
  color:#fce2cf;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg');
  background-size: cover;
  filter: blur(3px);
}

.search-bar .search-bar-outer {
  margin: 0 auto;
  max-width: 680px;
  background-color: #fce2cf;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin-top: -60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
} 

.dropdown {
  max-width: 680px;
  border-radius: 8px;
  padding: 20px 30px;
  margin-top: -30px;
}

.search-bar .search-bar-inner h4 {
  color: #9b4b4b;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img{
  height: 180px;
}

.card-title{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.more {
  font-size: 0.5rem;
}

.fa-edit:hover{
  color: darkgreen;
}

.fa-list-alt:hover{
  color:  darkgreen;
}

.fa-trash {
  border: 0;
  color: #666666;
  font-size: 0.8rem;
}

.fa-trash:hover {
  color: darkred;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.register-page {
  position: relative;
  top: -300px;
}

.login-page {
  position: relative;
  top: -300px;
}

@media screen and (max-width: 992px) {
  
  .card img{
    height: 115px;
  }

  .more{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 -10px;
  }
}

@media screen and (max-width: 768px) {
  
  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {
  
  .card img{
    height: auto;
  }
  
}
